{#
_______________________________________________________________________________

NAVBAR
_______________________________________________________________________________
#}


<nav class="">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary min-vh-100" style="width: 280px;"> <a href="{{ SITEURL }}"
        
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"> <svg
                class="bi pe-none me-2" width="40" height="32" aria-hidden="true">
                <use xlink:href="#bootstrap"></use>
            </svg> <span class="fs-4">Accueil</span> </a>
        <hr>

        <ul class="nav flex-column mb-auto">
            {% for nom, url, icone, sousNav, description, couleur in MENUITEMS %}
            <li class="nav-item"> <a href="#" class="nav-link" aria-current="page">
                    <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true">
                        <use xlink:href="#home"></use>
                    </svg>
                    <i class="bi bi-{{ icone }} d-md-block  me-md-0 me-2 nav-link-icon"></i>
                    {{ nom }}
                </a>
                {% if sousNav != None %}
                <ul class="mx-3">
                    {% for nom, url in sousNav %}
                    <li><a class="nav-link" href="{{ SITEURL }}{{ url }}">{{ nom }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>

        <hr>
        <div class="dropdown"> <a href="#"
                class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false"> <img src="https://github.com/photo.png" alt="" width="32"
                    height="32" class="rounded-circle me-2"> <strong>BTS SIO </strong> </a>
            <ul class="dropdown-menu text-small shadow">
                <li><a class="dropdown-item" href="#">Mon parcours...</a></li>
                <li><a class="dropdown-item" href="#">Réalisations</a></li>
                <li><a class="dropdown-item" href="#">Veille techno</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">2025</a></li>
            </ul>
        </div>
    </div>

</nav>